* {
    margin: 0;
    padding: 0;
}

:root {
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    background: #aaa;
    display: flex;

    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.global {
    width: 1440px;
    height: 800px;
    background-color: var(--Very-Dark-Blue);
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: grid;
    grid-template-columns: 13fr 46fr 13fr;
    grid-template-rows: 3fr 2fr 3fr;
}

.container {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: 350px 540px;
    grid-gap: 0px 30px;
    position: relative;
}

.container__left,
.container__right {
    background: var(--Dark-Blue);
    border-radius: 1em;
    display: grid;
    align-items: center;
}

.container__left {
    border-top-right-radius: 6em;
    padding: 40px;
}

.container__icons {
    display: grid;
    grid-template-columns: repeat(3, 65px);
}

.container__button {
    background: var(--Very-Dark-Blue);
    width: 50px;
    height: 50px;
    border-radius: .5em;
    border: 0;
}

.container__right {
    height: 75%;
    align-self: end;
    padding: 0 40px;
}

.container__content {
    color: var(--Pale-Blue);
    display: grid;
    align-items: center;
}

.bar {
    background: var(--Very-Dark-Blue);
    width: 100%;
    height: 20px;
    border-radius: 1em;
    position: relative;
    margin: 10px 0;
}

.bar::before {
    content: "";
    
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    width: 81.5%;
    height: 20px;
    border-radius: 1em;
    position: absolute;
    transform: scaleY(0.8);
    left: 3px;
}

.bar::after {
    content: "";

    background: var(--Pale-Blue);
    width: 20px;
    height: 20px;
    border-radius: 1em;
    position: absolute;
    transform: scale(0.7);
    left: calc(81.5% - 16px);
}

.bar__value {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.pop {
    width: 180px;
    height: 75px;
    background: var(--Pale-Blue);
    border-radius: 1em 1em 0 1em;
    position: absolute;
    top: 0;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-top: 15px solid var(--Pale-Blue);
    border-right: 15px solid var(--Pale-Blue);
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    right: 0;
    bottom: -20px;
}

.pop__pan {
    font-size: 2.5em;
    font-weight: 700;
    margin-right: 10px;
}

@media screen and (max-width: 920px) {
    .global {
        width: 375px;
        height: 667px;
        background-image: url(/images/bg-mobile.png);
        grid-template-columns: 25fr 325fr 25fr;
        grid-template-rows: 126fr 415fr 126fr;
    }

    .container {
        grid-template-columns: 325px;
        grid-template-rows: 200px 160px;
        grid-gap: 20px;
    }

    .container__right {
        height: 100%;
    }

    .pop {
        top: 340px;
        right: calc(50% - 90px);
        border-radius: 1em 1em 1em 1em;
    }

    .pop::before {
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}